body {
  background-color: rgb(252, 252, 252);
}

#header {
  height: 80px;
  background-color: rgb(96,148,206);
  margin-bottom: 100px;
}

#logo {
  margin-left: 30px;
  padding-top: 25px;
  font-size: 20px;
  color: white;

}

search {
  /*padding-top: 10px;*/
  padding-left: 50px;
}

#search-title {
  padding-left: 20%;
}

#search-form {
  padding-bottom: 10px;
}

.hide-search {
  display: none;
}

.hide-results {
  display: none;
}

search-icon {
  margin-top: -100px;

}

.hide-menu {
  display: none;
}

#menu-container {
  font-size: 20px;
}
#section-names {
  font-weight: bold;
  font-size: 18px;

}

#restaurant-name {
  font-size: 30px;
  font-weight: bold;
}

#menu-items {
  color: gray;
  font-weight: bold;
}

.option {
  float: right;
}

#vote-button {
  margin-top: 15px;
}

#result-boxes {
  margin-left: 20px;
  font-size: 20px;
}
